.our__services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: rgb(236, 236, 238);
  background: linear-gradient(
    176deg,
    rgba(236, 236, 238, 1) 0%,
    rgba(209, 209, 218, 0.37298669467787116) 24%
  );
}
.our__services__header {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  width: 100%;
}
.our__services__header > h1 {
  font-weight: 300;
  font-size: 2.6rem;
  position: relative;
  color: gray;
}
.our__services__header > h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 50px;
  height: 3px;
  background: rgb(245, 87, 87);
  top: 70px;
}
.services__offered__container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service__card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 50vh;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin: 30px;
  overflow: hidden;
}
.service__card:hover {
  cursor: pointer;
}
.service__logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}
.service__logo__container > img {
  height: 120px;
  width: 120px;
}
.service__tittle__container > p {
  color: rgb(31, 30, 30);
  font-weight: 500;
  font-size: 1.27rem;
}
.service__back__container {
  padding: 30px;
  background-color: white;
  position: absolute;
  transform: translateY(100%);
  max-height: 100%;
  bottom: -50vh;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
.service__card:hover .service__back__container {
  transform: translateY(0);
  transition: all 0.5s ease-in;
  display: block;
}
.service__back__container > h4 {
  color: rgb(245, 87, 87);
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  font-size: 1.1rem;
  font-weight: 550;
}
.service__back__container > p {
  font-size: 1.12rem;
}
